.footer_container {
    height: 20px;
    width: 100%;
    background-color: var(--color-primary);
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    
    .copyright {
        margin-top: 2px;
        font-size: 0.7rem;
        color: var(--color-on-primary);
    }
}