.top_100_castles {
  padding: 50px 10px;
  text-align: center;
  position: relative;

  @media (min-width: 600px) {
    padding: 50px 40px;
  }

  .pan_list {
    position: absolute;
    top: 10px;

    a {
        text-decoration: underline;
    }
  }

  .container {
    .region_panel {
      margin-top: 20px;
      border: 2px solid var(--color-primary);

      &:nth-last-child(1) {
        margin-bottom: 30px;
      }

      .region_name {
        color: var(--color-on-primary);
        background-color: var(--color-primary);
      }

      .pref_panel {
        line-height: 30px;
        display: grid;
        grid-template-columns: 100px 1fr;

        @media (max-width: 600px) {
          grid-template-columns: 80px 1fr;
        }

        &:nth-child(n-1) {
          border-top: 1px solid var(--color-primary);
        }

        .pref_name {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-on-primary);
          background-color: var(--color-primary);
        }

        .castle_panel {
          display: flex;
          flex-wrap: wrap;

          .castle_name {
            text-align: start;
            width: 10%;
            min-width: 150px;
            padding: 0 10px;
            text-align: center;
          }
        }
      }
    }
  }
}
